@page "{id?}"
@model DetailModel
<div class="jumbotron p-3 flex align-items-center">
    <h1 class="display-4">Detail</h1>
    <a class="btn btn-sm btn-primary" asp-page="./Edit" style="float:right">Edit</a>
</div>
<div class="container">
    <h3>@Model.Animal.Name</h3>
    <h4>@Model.Animal.TypeAnimal</h4>
    @if(Model.Animal.Gender == "female"){
        <p>Her age: @Model.Animal.Age</p>
    } else {
        <p>His age: @Model.Animal.Age</p>
    }
    <p>Gender: @Model.Animal.Gender</p>
    <p>ID: @Model.Animal.ID</p>
</div>
<div class="d-flex bg-success text-white  mt-3">
    <div class="p-2" style="flex:0 0 10%">
        @Html.DisplayNameFor(model => model.Cage.Animal.FirstOrDefault().ID)
    </div>
    <div class="p-2" style="flex:0 0 10%">
        @Html.DisplayNameFor(model => model.Cage.Animal.FirstOrDefault().TypeAnimal)
    </div>
    <div class="p-2" style="flex:0 0 20%">
        @Html.DisplayNameFor(model => model.Cage.Animal.FirstOrDefault().Name)
    </div>
    <div class="p-2" style="flex:0 0 15%">
        @Html.DisplayNameFor(model => model.Cage.Animal.FirstOrDefault().Age)
    </div>
    <div class="p-2" style="flex:0 0 20%">
        @Html.DisplayNameFor(model => model.Cage.Animal.FirstOrDefault().Gender)
    </div>
    <div class="p-2" style="flex:0 0 25%">Options</div>
</div>
@foreach (var item in Model.Animal.Countries) {
    <div class="d-flex border-left border-right border-bottom border-success">
        <div class="p-2" style="flex:0 0 10%">
            @Html.DisplayFor(modelItem => item.ID)
        </div>
        <div class="p-2" style="flex:0 0 10%">
            @Html.DisplayFor(modelItem => item.TypeAnimal)
        </div>
        <div class="p-2" style="flex:0 0 20%">
            @Html.DisplayFor(modelItem => item.Name)
        </div>
        <div class="p-2" style="flex:0 0 15%">
            @Html.DisplayFor(modelItem => item.Age)
        </div>
        <div class="p-2" style="flex:0 0 20%">
            @Html.DisplayFor(modelItem => item.Gender)
        </div>
        <div class="p-2 btn-group"  style="flex:0 0 25%" role="group" >
            <a class="btn btn-primary btn-sm" asp-page="/Countries/Detail" asp-route-id="@item.ID">Details</a>
            <a class="btn btn-primary btn-sm" asp-page="/Countries/Edit" asp-route-id="@item.ID">Edit</a>
            <a class="btn btn-danger btn-sm" asp-page="/Countries/Delete" asp-route-id="@item.ID">Delete</a>
        </div>
    </div>
}